{% extends 'base.html' %}

{% block content %}
<h2>Login Webpage</h2>

{% if bad_credentials %}
<p class='color:red;'>
    ERROR: Username or password incorrect.
</p>
{% endif %}

{% if logged_in %}
<p>Welcome back!</p>

{% else %}
<form action='/login' method="POST">
    <table>
        <tr>
            <td>username</td>
            <td><input type=text name=username></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type=text name=password></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value='log in'></td>
        </tr>
    </table>
</form>
{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endif %}
{% endblock %}
